.App-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  color: var(--text-default);
}

.App-header h1 {
  font-size: 24px;
  margin: 0 0 0 280px;
  color: var(--text-default);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.App-header.dark h1 {
  color: var(--text-dark);
}

.dropdown {
  position: relative;
}

.dropbtn {
  color: rgb(222, 222, 222);
  background-color: var(--button-color-default);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.37);
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.dropbtn.dark {
  background-color: var(--button-color-dark);
}

.dropbtn:hover {
  background-color: rgb(165, 124, 241);
}

.dropdown-content {
  margin-top: 5px;
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 150px;
  z-index: 1;
  border-radius: 5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* ... other styles ... */

.dropdown-content button {
  color: white;
  padding: 10px;
  text-align: left;
  display: block;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content button:hover {
  background-color: #c4aefc;
}

.dropdown:hover .dropdown-content {
  display: block;
}
