/* Adjust the form styles */
form {
  display: inline-flex;
  max-width: 900px;
  margin: 0 auto 40px;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
}

.image-preview {
  position: absolute;
  top: -220px; /* Adjust this value to position the preview above the chat */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 200px; /* Set a fixed width for the preview */
  height: 200px; /* Set a fixed height for the preview */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3; /* Ensure the preview appears above other elements */
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover; /* Use 'cover' to maintain aspect ratio and cover the container */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjust the image upload styles */
.image-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.image-icon {
  width: 24px;
  height: 24px;
}

.image-upload input[type="file"] {
  display: none;
}

/* Adjust the input wrapper styles */
.input-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
}

/* Adjust the input container styles */
.input-container {
  height: 40px; /* Increase the height to accommodate both inputs */
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  border: solid 1px #161817;
  margin: 0 auto 20px;
  text-align: center;
  position: relative; /* Required for absolute positioning */
}

/* Adjust the input message styles */
.Input-msg {
  flex-grow: 1;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

/* Adjust the button styles */
button {
  height: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
