/* Adjust the form styles */
form {
  position: relative;
  z-index: 5;
  display: inline-flex;
  max-width: 900px;
  margin: 0 auto 40px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  position: relative;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.close-preview {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  z-index: 1;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.image-upload {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.image-icon {
  width: 24px;
  height: 24px;
}

.image-upload input[type="file"] {
  display: none;
}

.input-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
}

.input-container {
  background-color: #c4bdd73f;
  border: 1px solid rgba(222, 222, 222, 0.18);
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.188);
  height: 40px;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  margin: 0 auto 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.Input-msg {
  color: #ffffff;
  background-color: transparent;
  z-index: 1;
  flex-grow: 1;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.Input-msg:hover {
  border: none;
}
.Input-msg:focus {
  outline: none;
  border: none;
}
.send-btn {
  background-color: transparent;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.image-send {
  z-index: 3;
  width: 24px;
  height: 24px;
}
