form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
/* Add this to your Input.css */
/* ... (existing styles) */

.image-preview {
  max-width: 200px; /* Set the desired max width for the image preview */
  max-height: 200px; /* Set the desired max height for the image preview */
  margin-top: 10px;
}

.image-preview img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  border-radius: 8px; /* Add rounded corners */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* ... (existing styles) */
/* Your existing CSS */

/* Add this to your CSS */
.image-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.image-icon {
  width: 24px; /* Set the desired size */
  height: 24px; /* Set the desired size */
}

.image-upload input[type="file"] {
  display: none;
}
