/* Login.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Box-login {
  display: flex;
  align-items: stretch; /* Make both boxes stretch to the same height */
}

.img-box {
  flex: 1; /* Take up equal space */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.img-box img {
  max-width: 80%;
  max-height: 100%;
  display: block;
}

.login-inputs {
  flex: 1; /* Take up equal space */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
}

.login-inputs h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}
