/* Login.css */
body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    #a04ffd79,
    #ab5ef385,
    #4383e975,
    #6484fa7a,
    #907dfe7b,
    #a364fb7a
  );
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.Box-login {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 1px 10px 40px 2px rgba(0, 0, 0, 0.37);
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8f9ded;
  border-radius: 10px 0 0 10px;
}

.img-box img {
  max-width: 100%;
  max-height: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  object-fit: cover;
}

.login-inputs {
  position: relative;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c6e0e66a;
  max-width: 500px;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  align-items: center;
}
.login-inputs h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  color: #8a3ffb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.169);
}

.input-field {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-btn {
  margin-top: 5px;
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* For screens up to 600px */
@media screen and (max-width: 600px) {
  .Box-login {
    flex-direction: column;
    border-radius: 10px; /* Keep rounded corners for mobile */
  }

  .img-box {
    display: none;
  }

  .login-inputs {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }

  .input-field,
  .login-btn {
    width: 100%; /* Make input fields and button full width */
  }
}

/* Responsive media queries */
@media screen and (max-width: 600px) {
  .img-box {
    display: none;
  }

  .login-inputs {
    background-color: #f9f9f9;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .img-box {
    display: none;
  }

  .login-inputs {
    background-color: #f9f9f9;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .Box-login {
    flex-direction: row;
  }

  .img-box {
    display: flex;
  }

  .login-inputs {
    background-color: #c6e0e66a;
  }

  .input-field,
  .login-btn {
    width: 50%;
  }
}
