.text-container {
  position: relative;
  display: inline-block;
  margin: 6px 0;
}

.text-container:hover .timestamp {
  display: block;
}
.timestamp {
  display: none;
  position: absolute;
  bottom: -37px; /* Adjust the spacing */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.368);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.Messages-list {
  padding: 25px 0;
  max-width: 900px;
  width: 100%;
  margin: 5px auto;
  list-style: none;
  padding-left: 0;
  height: 75vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #868e96 #f7f7f7;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.Messages-list::-webkit-scrollbar {
  width: 8px;
}
.Messages-list::-webkit-scrollbar-thumb {
  background-color: #ffffffc1;
  border-radius: 8px;
}
.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 70%;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 4px;
  letter-spacing: 3px;
}

.currentMember > .Message-content .text {
  background-color: #8775ff;
}
.text {
  max-width: 400px;
  word-break: break-word;
  white-space: normal;
  display: inline-block;
  padding: 8px 12px;
  background-color: #b349ff; /* Change to your desired background color */
  color: white;
  border-radius: 16px;
}

.image-sent img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 601px) and (max-width: 900px) {
}
@media screen and (max-width: 600px) {
}
