.app-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    #4802faa4,
    #963cea85,
    #4e8beb75,
    #5b7cf67a,
    #6248f47b,
    #6e13eea1
  );
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;
}

.app-container.dark {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    #5529c4,
    #672b9e,
    #7a1ce5,
    #253b96,
    #5519a3,
    #661ecb
  );
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

:root {
  --text-default: #7c36ff83;
  --button-color-default: #9a74fc27;
  --button-color-dark: #8657fe6c;
  --secondary-color: #ad8aff98;
}
:root {
  --background-light: #ffffff77;
  --text-dark: #303030;
  --placeholder-light: #47474785;
}

.dark {
  --background-light: #ffffff42;
  --text-dark: #ffffffc6;
  --placeholder-light: #ffffff9c;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
}
body {
  margin: 0;
  font-family: cursive;
}
