@import "./Input.css";

.app-container {
  overflow: hidden; /* Hide scrollbars */
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    #4802faa4,
    #963cea85,
    #3c82f375,
    #4d72f97a,
    #6248f47b,
    #6e13eea1
  );
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;
}

.app-container.dark {
  overflow: hidden; /* Hide scrollbars */
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    #5529c4,
    #672b9e,
    #7a1ce5,
    #253b96,
    #5519a3,
    #661ecb
  );
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;
}
:root {
  --text-default: #333; /* Default text color for light theme */
  --text-dark: #ffffff; /* Text color for dark theme */
  --text-light: #ffffff; /* Text color for light theme */

  --primary-color: #9a75f8;
  --second-color: #ffffff;

  --button-color-default: #9a74fc;
  --button-color-dark: #8657fe;
  --secondary-color: #b090fa;

  --background-light: #ddc9ffbe; /* Background color for light theme */
  --background-dark: #3b2e52be;

  --placeholder-light: hsl(0, 0%, 100%);
  --placeholder-dark: #d6d6d6;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Responsive media queries */
@media screen and (max-width: 600px) {
  .Messages-list {
    width: 80%;
  }
}

/* Mobile Landscape */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .Messages-list {
    width: 80%;
  }
}
/* Tablet Portrait */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .Messages-list {
    width: 80%;
  }
}
