.App-header {
  padding: 15px;
  color: var(--text-default);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}
.App-header h1 {
  font-family: "Kalam", cursive;
  font-size: 28px;
  margin: 0;
  color: var(--text-default);
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.App-header.dark h1 {
  color: var(--text-dark);
}

.dropdown {
  position: relative;
}

.dropbtn {
  color: rgb(222, 222, 222);
  background-color: var(--button-color-default);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.37);
  padding: 10px 80px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.dropbtn.dark {
  background-color: var(--button-color-dark);
}

.dropbtn:hover {
  background-color: rgba(165, 124, 241, 0.573);
}

.dropdown-content {
  margin-top: 5px;
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 180px;
  z-index: 1;
  border-radius: 5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-content button {
  color: white;
  padding: 10px;
  text-align: left;
  display: block;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content button:hover {
  background-color: hsla(255, 100%, 83%, 0.793);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive design */

@media screen and (max-width: 600px) {
  .dropbtn {
    padding: 6px 40px;
    font-size: 10px;
  }

  .dropdown-content {
    margin-top: 2px;
    min-width: 140px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .App-header {
    padding: 10px;
    color: var(--text-default);
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }

  .App-header.dark h1 {
    color: var(--text-dark);
  }

  .dropbtn {
    padding: 8px 60px;
    font-size: 12px;
  }

  .dropdown-content {
    margin-top: 3px;
    min-width: 160px;
    border-radius: 3px;
  }
}
