body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    #9770faa4,
    #b878f585,
    #6fa3f875,
    #839df97a,
    #9280f87b,
    #ae7cf4a1
  );
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.Box-login {
  height: 500px;
  justify-content: space-around;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 1px 10px 40px 2px rgba(0, 0, 0, 0.37);
}

.img-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8f9ded;
  border-radius: 10px 0 0 10px;
}

.img-box img {
  max-width: 100%;
  max-height: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  object-fit: cover;
}

.login-inputs {
  padding: 10px 20px 40px; 
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff15;
  border-radius: 0 10px 10px 0;
  align-items: center;
}
.login-inputs h1 {
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  color: #8a3ffb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.169);
}
.Login-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Img-h1 {
  height: 90px;
  margin-bottom: 10px;
}
.input-field {
  color: rgb(78, 78, 78);
  height: 25px;
  width: 75%;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #ffffffd1;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.input-field:hover {
  background-color: #ffffffeb;
  border: 1px solid rgba(229, 218, 218, 0.18);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.37);
}
.input-field:focus {
  background-color: #fffffff0;
  border: 1px solid rgba(229, 218, 218, 0.18);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.527);
  outline: none;
}

.login-btn {
  height: 35px;
  background-color: #8353ffd1;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.37);
  margin-top: 5px;
  width: 50%;
  padding: 8px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  height: 35px;
  background-color: #966ff8d1;
}

/* Responsive design */

@media screen and (max-width: 600px) {
  .Box-login {
    flex-direction: column;
    border-radius: 10px;
  }

  .img-box {
    display: none;
  }

  .login-inputs {
    padding: 20px;
    border-radius: 10px;
  }

  .input-field,
  .login-btn {
    width: 80%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .Box-login {
    flex-direction: row;
  }

  .img-box {
    display: flex;
  }

  .login-inputs {
    padding: 10px 20px 40px;
    border-radius: 0 10px 10px 0;
    align-items: center;
  }

  .input-field {
    width: 75%;
  }
}
